* {
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: 10px;
    font-family: 'Poppins';
}

body {
    width: 100wh;
}


/* HEADER */

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px 5px;
    background-color: white;
}

.logo {
    position: absolute;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    font-size: 70px;
    height: 0;
    width: 80px;
    margin-left: 3%;
    top: -5%;
}

nav a {
    font-weight: 500;
    font-size: 18px;
    align-items: center;
    color: black;
    padding-left: 20px;

    position: relative;
    left: 12%;
}

.active {
    color: gray;
    font-weight: 700;
    font-size: 22px;
}

nav a:hover{
    color: gray;
    transition: 0.3s;
}

nav input {
    font-size: 15px;
    margin-left: 160px;
    height: 50px;
    width: 450px;
    border-radius: 30px;
    padding: 15px;
    background-color: #f2f2f2;
    border: none;
    outline: none;
    color: black;
}

.logs {
    font-weight: 500;
    font-size: 18px;
    color: gray;
    padding-left: 20px;

    position: relative;
    left: 15%;
}


/* MAIN */

h1 {
    margin-top: 200px;
    margin-left: 5%;
    margin-bottom: 20px;
    font-family: 'Poppins';
    font-size: 3.5em;
    font-weight: 400;
    margin-bottom: 10px;
}

p {
    margin-left: 5%;
    margin-top: 3%;
}

button {
    cursor: pointer;
    margin-left: 5%;
    margin-top: 40px;
    height: 55px;
    width: 230px;
    border-radius: 30px;
    background-color: white;
    border: 2px solid black;
    font-size: 20px;
    font-weight: 500;
    transition: 0.5s;
}

button:hover {
    cursor: pointer;
    margin-left: 5%;
    margin-top: 40px;
    height: 55px;
    width: 250px;
    border-radius: 30px;
    background-color: black;
    color: white;
    border: 2px solid black;
    font-size: 20px;
    font-weight: 500;
    transition: 0.5s;
}

a svg {
    font-size: 15px;
    border: 2px solid gray;
    padding: 20px;
    border-radius: 60px;

    display: flex;
    margin: 52px auto;
}


/* ARTICLES */



/* article .article {
    padding: 20px;
}

article main {
    padding: 20px;
}

article #img {
    display: flex;
    max-width: 178%;
    max-height: 178%;
    transform-origin: center;
    transition: transform 0.4s ease-in-out;
    border-radius: 16px;
} */

/* Toutes les cartes */
.cards{
    display:flex;
    /* flex-wrap:wrap; */
    margin-top: 5%;
    padding: 20px;
    justify-content: center;
  }
  .cards .head{
    margin-right: 20px;
    cursor:pointer;
    border: 1px solid black;
    margin-bottom: 20px;
    height: 750px;
    width: 300px;
  }
  .cards .head img{
    display: flex;
    height: 300px;
    /* width: 300px; */
    margin: 0 auto;
  }

  .cards .body p{
    margin-top: 0px;
    padding: 5px;
  }

  h2 {
    padding: 20px;
    padding-bottom: 30px;
  }

  h3 {
    padding-left: 20px;
    padding-bottom: 20px;
  }
  /* Fin de toutes les cartes */